<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div align="center" ng-if="promptLevel">
      <h3>{{promptLevel}}</h3>
    </div>

    <div align="center" ng-if="promptCongratulations" class="congratulation">
      <h3>{{promptCongratulations}}</h3>
    </div>
    
    <div align="center" ng-if="promptFailure" class="failure">
      <h3>{{promptFailure}}</h3>
    </div>

    <div align="center" ng-if="promptAction">
      <h3>{{promptAction}}</h3>
    </div>
    <div align="center" ng-if="counter1">
      <h3>{{counter1}}</h3>
    </div>
    <div align="center" ng-if="counter2">
      <h3>{{counter2}}</h3>
    </div>
    <div align="center" ng-if="counter3">
      <h3>{{counter3}}</h3>
    </div>
    
    <div class="row">

      <!-- Level 1 Left side list of words -->
      <div class="col col-50" align="center" style="padding-top:0.2cm;" ng-if="leftWordList">LeftWordList
        <ion-list>
          <ion-item ng-repeat="item in word_pair" id="list_one">
            <h2>{{item.word}}</h2>
          </ion-item>
        </ion-list>
      </div>

      <!-- Level 2 Enter view for words for corresponding pairs --> 
      <div class="col col-50" ng-if="enterTextViewLeft">enterTextViewLeft
        <ion-list>
          <ion-item ng-repeat="item in word_pair" id="list_two">
            <input ng-model="word" type="text" ng-change="leftPartnerCheck(word,item.pair)">
            <div ng-show="showPartner[word]" align="right"><i class="ion-checkmark myCheckmark"></i></div>
          </ion-item>
        </ion-list>
      </div>

      <!-- Level 1 Right hand side preview of pairs -->
      <div class="col col-50" ng-if="previewViewRight">previewViewRight
        <ion-list>
          <ion-item ng-repeat="item in word_pair" id="list_two">
            <h2>{{item.pair}}</h2>
          </ion-item>
        </ion-list>
      </div>

      <!-- Level 1 Enter view for pairs for corresponding words -->
      <div class="col col-50" ng-if="enterTextViewRight">enterTextViewRight
        <ion-list>
          <ion-item ng-repeat="item in word_pair" id="list_two">
            <input ng-model="pair" type="text" ng-change="rightPartnerCheck(pair,item.word)">
            <div ng-show="showPartner[pair]" align="right"><i class="ion-checkmark myCheckmark"></i></div>
          </ion-item>
        </ion-list>
      </div>



    </div>

    <div align="center" style="padding-bottom:1cm;" ng-if="show_start_button">
      <button class="button button-dark start-button" ng-click="start()">Start</button>
    </div>
    <div align="center" ng-if="show_stop_button">
      <button class="button button-dark start-button" ng-click="checkCorrectness()">Stop</button>
    </div>


  </ion-content>
</ion-view>
