/* Empty. Add your own CSS if you like */
.start-button {
  line-height: 5vh !important;
  width: 15%;
  }
.congratulation h3{

	color: green;

}

.failure h3{

	color: red;

}

#list_one{

	padding: 0.5cm;
}
#list_two{

	padding: 0.5cm;
}

#list_one h2{

	font-size: 1.5em;
}

#list_two h2{

	font-size: 1.5em;
}

#list_two input[type="text"] {
    
    height: 1.5em;
    font-size:1.2em;
}

.myCheckmark{
	color: green;
}

